root                     = true # This is the topmost.editorconfig

[*]
insert_final_newline     = false
charset                  = utf-8
indent_style             = space
trim_trailing_whitespace = true
